// font
$font: iranyekan;

// colors
$color-white: #fff;
$color-black: #000;

// transition
$transition-all: 0.3s ease;
$transition-transform: transform 0.3s ease;

// line height
$line-height-20: 20px;
$line-height-25: 25px;
$line-height-30: 30px;
$line-height-35: 35px;

// border radius
$rounded-1: 1px;
$rounded-2: 2px;
$rounded-3: 3px;
$rounded-4: 4px;
$rounded-5: 5px;
$rounded-6: 6px;
$rounded-7: 7px;
$rounded-8: 8px;
$rounded-9: 9px;
$rounded-10: 10px;
$rounded-15: 15px;
$rounded-20: 20px;
$rounded-25: 25px;
$rounded-30: 50px;
$rounded-circle-50: 50%;
$rounded-pill-50: 50rem;

// paths
$img-static: "../../dist/images/svg/";
$img-dyna: "../images/png/";
